/********************************
* Css Part
*********************************/

:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
}

body {
    margin: 100px;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/background.jpg);
}

.container {
    max-width: 760px;
    margin: auto;
    box-shadow: 0 15px 20px #181818;
}

.main-img img,
.imgs img {
    width: 100%;
}

.main-img img:hover {
    transform: scale(1.2);
    transition: transform 0.7s;
}

.imgs {
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.imgs img {
    cursor: pointer;
    opacity: 70%;
    transform: translate(none);
    transition: transform 0.7s, opacity 0.7s;
}


.imgs img:hover {
    transform: translate(10px);
    opacity: 100%;
}

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media(max-width: 600px) {
    .imgs {
        grid-template-columns: repeat(2, 1fr);
    }
}